
h3 {
    margin: 0px;
}

#leftDiv {
    width: 10%;
    height: 100%;
    float: left;
}

#rightDiv {
    width: 30%;
    height: 100%;
    float: left;
}

#centerDiv {
    width: 60%;
    height: 100%;
    float: left;
}

#headDiv {
    width: 640px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin: 0px;
    border: 1px solid #d3d3d3;
}

#contolDiv {
    width: 640px;
    height: 40px;
    border: 1px solid #d3d3d3;
}

.statDivLeft, .statDivRight {
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statDivLabel, .statDivValue {
    width: 50%;
    height: 100%;
    line-height: 40px;
}

.statDivLeft, .statDivLabel {
    float: left;
}

.statDivRight, .statDivValue {
    float: right;
}